//sass --watch .\assets\css\style.scss .\assets\css\style.css
@font-face {
    font-family: 'SFPro';
    src: url('../fonts/SF-Pro-Text-Regular.otf') format('opentype');
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

$f1red: #c60601;
$formgrey: #eaeaea;

.hidden{
    display:none !important; 
}
a, p, h1, h2{
    text-decoration: none;
    font-family: 'SFPro';
}


@media screen and (min-width:45rem){
    body{
        header{
            #desktop{
                display:flex;
                justify-content: space-between;
                height: 10vh;
                width: 100%;
                .logo{
                    height:60%;
                    padding-top: 1rem;
                    padding-left: 1rem;
                }
                #backbutton{
                    height: 70%;
                    margin-top: 0.8rem;
                    margin-right: 1rem;
                }
                #desktopoptions{
                    padding-top: 2rem;
                    *{
                        display:inline-block;
                        color:white;
                        font-size: 1.2rem;
                        padding-left: 1rem;
                        padding-right: 1rem;
                    }
                }
            }
            #mobile{
                display:none;
            }
        }
        .postcontainer{
            .post{
                margin-left: 2rem;
                margin-right: 2rem;
            }
        }
    }
}

header{
    background-color: $f1red;
    height: 10vh;
    width: 100%;
    #mobile{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 10vh;
        width: 100%;
        .logo{
            height:60%;
            padding-top: 1rem;
            padding-left: 1rem;
        }
        #backbutton{
            height: 70%;
            margin-top: 0.8rem;
            margin-right: 1rem;
        }
    }
    #desktop{
        display:none;
    }   
}

main{
    .start{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        a{
            background-color: $f1red;
            color:white;
            display:block;
            margin-left: auto;
            margin-right: auto;
            width:30vw;
            font-size: 4vw;
            padding: 1rem;
            border-radius: 10px;
            text-align: center;
            overflow:visible;
            margin-bottom: 2rem;
        }
    }
    .start-form{
        form{
            margin-top: 10%;
            *{
                display: block;
                height: 4rem;
                width: 60%;
                font-family: 'SFPro';
                margin: 1.5rem auto;
                color:black;
                font-size: 1.1rem;
            }
            *::placeholder{
                color:black;
            }
            input{
                border: none;
                border-radius: 10px;
                background-color: $formgrey;
                box-sizing: border-box;
                padding: 1%;
            }
            input[type=submit]{
                background-color: $f1red;
                color: white;
                text-shadow: 5px 3px 7px rgb(31, 27, 27);
            }
        }
    }
    .mobile-menu{
        background-color: $f1red;
        display:grid;
        grid-template-rows: repeat(4,1fr);
        height: 90vh;
        box-sizing: border-box;
        padding-top: 10%;
        div{
            width: 100vw;
            margin-left: auto;
            margin-right: auto;
            *{
                text-align: center;
                font-family: 'SFPro';
                color: white;
                font-size: 1.2rem;
            }
            p{
                margin-top: 0.5rem;
            }
            img{
                height: 10vh;
                display: block;
                margin: 0 auto;
            }
        }
    }
    #postcontainer, #profileposts{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top: 2rem;
        *{
            width: 100vw;
            max-width: 390px;
        }
        .post{
            box-sizing: border-box;
            *{
                box-sizing: border-box;
            }
            border-radius: 6px;
            max-width: 390px;
            margin-bottom: 3rem;
            background-color: #f4f4f4;
            p{
                width: 100%;
                word-break: break-all;
            }
            .postheader{
                background-color: #eeeeee;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                padding: 1rem;
                display:flex;
                .postscore{
                    width:20%;
                    text-align: center;
                    font-weight: bolder;
                    color: $f1red;
                    font-size: 1.5rem;
                    padding-top: 0.2rem;
                }
                div{
                    p{
                        width:100%;
                    }
                    width: 80%;
                }
            }
            .postbody{
                padding: 1rem;
            }
            .postimages{
                img{
                    width: 80px;
                    height: 80px;
                    margin-right: 1rem;
                }
                padding:1rem;

            }
            .postfooter{
                display: flex;
                background-color: #eeeeee;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                padding:1rem;
                .postinteractionbutton{
                    *{
                        display: block;
                        margin-left: 1rem;
                        margin-top: 0.5rem;
                    }
                }
                .postsharebutton{
                    *{
                        float:right;
                        display: block;
                        margin-right: 2rem;
                        margin-top: 0.5rem;
                    }
                }
                .postcommentbutton{
                    display: flex;
                    *{
                        margin-top: 0.5rem;
                    }
                    p{
                        padding-top: 0.4rem;
                        padding-left: 0.2rem;
                        font-weight: bold;
                    }
                    img{
                        margin-left: 1.5rem;
                    }
                }
                img{
                    width:35px;
                    height:35px;
                }
            }
        }
    }

    #profileinfo{
        box-sizing: border-box;
        padding: 1rem;
        div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            h2:nth-child(2n){
                text-align: end;
                padding-right: 1rem;
            }
        }        
        h1{
            font-size: 3rem;
            margin-bottom: 0.8rem;
        }
        h2{
            font-size: 1.2rem;
            margin-bottom: 0.4rem;
        }
        h2:last-of-type{
            margin-top: 1.5rem;
        }
    }
    #profileposts{
        padding-top: 0;
    }
    
}