//sass --watch .\assets\css\style.scss .\assets\css\style.css
@font-face {
    font-family: 'SFPro';
    src: url('../fonts/SF-Pro-Text-Regular.otf') format('opentype');
}

$f1red: #c60601;
$formgrey: #eaeaea;

.hidden{
    display:none !important; 
}
a{
    text-decoration: none;
    font-family: 'SFPro';
}

@media screen and (min-width:45rem){
    body{
        header{
            #desktop{
                display:flex;
                justify-content: space-between;
                height: 10vh;
                width: 100%;
                .logo{
                    height:60%;
                    padding-top: 1rem;
                    padding-left: 1rem;
                }
                #desktopoptions{
                    padding-top: 2rem;
                    *{
                        display:inline-block;
                        color:white;
                        font-size: 1.2rem;
                        padding-left: 1rem;
                        padding-right: 1rem;
                    }
                }
            }
            #mobile{
                display:none;
            }
        }
    }
}

header{
    background-color: $f1red;
    height: 10vh;
    width: 100%;
    #mobile{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 10vh;
        width: 100%;
        .logo{
            height:60%;
            padding-top: 1rem;
            padding-left: 1rem;
        }
    }
    #desktop{
        display:none;
    }   
}

main{
    .start{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        a{
            background-color: $f1red;
            color:white;
            display:block;
            margin-left: auto;
            margin-right: auto;
            width:30vw;
            font-size: 4vw;
            padding: 1rem;
            border-radius: 10px;
            text-align: center;
            overflow:visible;
            margin-bottom: 2rem;
        }
    }
    .start-form{
        form{
            margin-top: 10%;
            *{
                display: block;
                height: 4rem;
                width: 60%;
                font-family: 'SFPro';
                margin: 1.5rem auto;
                color:black;
                font-size: 1.1rem;
            }
            *::placeholder{
                color:black;
            }
            input{
                border: none;
                border-radius: 10px;
                background-color: $formgrey;
                box-sizing: border-box;
                padding: 1%;
            }
            input[type=submit]{
                background-color: $f1red;
                color: white;
            }
        }
    }
}